.main {
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    height: 100vh; 
    display: flex 
}

.title-container {
    flex: 1;
    justify-content: center;
}

.title {
    font-size: 5em;
}

.toolbar {
    flex: 1;
    justify-content: center; 
    align-items: center; 
    background-color: green;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.toggle-container {
    height: 4vh; 
    background-color: blue;
    width: 7vw;   
    border-radius: 40px;
    margin: 100px 100px;
    padding: 10px 20px;
    display: flex;
    align-items: center
}

.toggle-background {

}

.toggle-circle {
    background-color: white;
    height: 35px;
    width: 35px;
    border-radius: 50%;
}

.box-container {
    flex: 2
}

.row-div {
    background-color: red;
    height: 20vh;
    width: 70vw
}
