.main {
    /*height: 100vh; */
}

.title {
    font-size: 5em;
}

.flex-col-centered {
    align-items: center; 
    justify-content: center; 
    flex-direction: column; 
    display: flex;
    flex: 1;
}

.flex-row-centered {
    align-items: center; 
    justify-content: center; 
    flex-direction: row; 
    display: flex;
    flex: 1;
}

.flex-1 { flex: 1 }

.toolbar {
    /*background-color: green;*/
    width: 80%;
}

.tool-header-text {
    font-size: 40px;
}

.tool-body {
}

.toggle-label {
    font-size: 30px;
}

.toggle-button-container {
    height: 4vh; 
    background-color: blue;
    width: 10vw;   
    border-radius: 2em;
    margin: 10px 20px;
    padding: 10px 20px;
    cursor: pointer;
    flex: 1
}

.toggle-circle {
  transition-duration: .3s;
  transition-property: transform, opacity;
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    border-radius: 50%;
}

.slideLeft {
  transform: translate(-2.5vw, 0);
}

.slideRight {
  transform: translate(2.5vw, 0);
}

.count-button {
    flex: 1;
    width: 6vw;
    cursor: pointer;
    border: 1px solid black;
    text-align: center;
    font-size: 30px;
}


.box-container {
    flex: 2
}

.row-div {
    background-color: red;
    height: 20vh;
    width: 70vw;
    display: flex;
    flex-direction: row;
}

.col-div {
    background-color: red;
    width: 20vw;
    height: 70vh;
    display: flex;
    flex-direction: column;
}


.tag:first-of-type {
      border-radius: 50px 0px 0px 50px;
}
 .tag:last-of-type {
       border-radius: 0px 50px 50px 0px;
}

.tag:last-of-type>.slider-button {
		 display:none !important;
}

span{
	font-family:sans-serif !important;
}

